<div class="page-body-cntlr logged-page">
  <div class="bdoverlay"></div>
   <div class="xs-mobile-menu logged-xs-mobile-menu">
    <div class="xs-pop-up-menu-inr">
      <div class="xs-pop-up-menu-top">
        <div class="logo">
          <a href="#"><img src="/assets/logged-logo.svg"></a>
        </div>
        <div class="hamburger-cntlr">
          <div class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="xs-pop-menu-con">
        <div class="xs-menu">
          <nav class="main-nav">
            <ul class="clearfix reset-list">
              <li class="current-menu-item"><a href="#">Exlplore</a></li>
              <li class="menu-item-has-children">
                <a href="#">More</a>
                <ul class="sub-menu">
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Privacy & TOS</a></li>
                </ul>
              </li>
              <li><a href="#">Create</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-con-cntlr">
    <section class="page-banner-cntlr">
      <div class="page-banner">
        <div class="page-banner-bg inline-bg" style="background:url(/assets/banner-img.jpg);"></div>
        <div class="page-bnr-des">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="profile-intro-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="profile-intro-sec-inr">
              <div class="profile-intro-img">
                <img src="/assets/profile-img-01.png">
              </div>
              <div class="profile-hdng">
                <h1 class="profile-title fl-h3"><%= current_user.first_name%></h1>
              </div>
              <div class="profile-creatby">
                <span>2eh3423b4.........er4</span>
              </div>
              <div class="profile-intro-des">
                <p><%= current_user.short_description %></p>
              </div>
              <div class="fs-clickable-btns">
                <div class="fs-clickable-btns-inr">
                  <div class="clickable-btn">
                    <div class="share-btn btn-click">
                      <a href="#">
                        <i>
                          <svg class="share-icon" width="24" height="25" viewBox="0 0 24 25" fill="#A8A8A8">
                            <use xlink:href="#share-icon"></use> 
                          </svg>
                        </i>                              
                      </a>
                      <div class="share-socials btn-click-des">
                        <ul class="reset-list">
                          <li>
                            <a target="_blank" href="#">
                              <i class="fab fa-facebook-f"></i>
                            </a>
                          </li>
                          <li>
                            <a target="_blank" href="#">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                          </li>
                          <li>
                            <a target="_blank" href="#">
                              <i class="fab fa-instagram"></i>
                            </a>
                          </li>
                          <li>
                            <a target="_blank" href="#">
                              <i class="fab fa-flickr"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="clickable-btn">
                    <div class="setting-btn btn-click setting-btn-circle">
                      <a href="#">
                        <i>
                          <svg class="gear-icon-svg" width="30" height="30" viewBox="0 0 30 30" fill="#737373">
                            <use xlink:href="#gear-icon-svg"></use> 
                          </svg>   
                        </i>
                      </a>
                      <div class="setting-option btn-click-des">
                        <ul class="reset-list">
                          <li>
                            <a href="#">Option 1</a>
                          </li>
                          <li>
                            <a href="#">Option 2</a>
                          </li>
                          <li>
                            <a href="#">Option 3</a>
                          </li>
                          <li>
                            <a href="#">Option 4</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="profile-page-con-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="profile-page-con-sec-inr">
              <div class="profile-col-02">
                <div class="content-area">
                  <div class="fs-srch-select-cntlr">
                    <div class="fs-srch-slct-col-01 fs-srch-slct-col">
                      <div class="fs-search">
                        <form>
                          <input type="search" placeholder="Search">
                          <button>
                            <i>
                              <svg class="srch-icn-svg" width="29" height="29" viewBox="0 0 29 29" fill="transparent" stroke="#737373">
                              <use xlink:href="#srch-icn-svg"></use></svg>
                            </i>
                          </button>
                        </form>
                      </div>
                    </div>
                    <div class="fs-srch-slct-col-02 fs-srch-slct-col">
                      <div class="sidebar-select fs-select-icon">
                        <select class="custom-select select-2-cntlr">
                          <option selected>Single Items</option>
                          <option value="1">single items 1</option>
                          <option value="1">Single Items 2</option>
                          <option value="2">Single Items 3</option>
                          <option value="3">Single Items 4</option>
                          <option value="4">Single Items 5</option>
                        </select>
                      </div>
                    </div>
                    <div class="fs-srch-slct-col-03 fs-srch-slct-col">
                      <div class="sidebar-select fs-select-icon">
                        <select class="custom-select select-2-cntlr">
                          <option selected>Recently Listed</option>
                          <option value="1">Recently Listed 1</option>
                          <option value="1">Recently Listed 2</option>
                          <option value="2">Recently Listed 3</option>
                          <option value="3">Recently Listed 4</option>
                          <option value="4">Recently Listed 5</option>
                        </select>
                      </div>
                    </div>
                    <div class="fs-srch-slct-col-04 fs-srch-slct-col">
                      <div class="sidebar-select fs-select-icon">
                        <select class="custom-select select-2-cntlr">
                          <option selected>My Collection</option>
                          <option value="1">My Collection 1</option>
                          <option value="1">My Collection 2</option>
                          <option value="2">My Collection 3</option>
                          <option value="3">My Collection 4</option>
                          <option value="4">My Collection 5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="profile-grds">
                    <ul class="reset-list">
                      <li>
                        <div class="profile-grd-item-col">
                          <div class="profile-grd-item">
                            <div class="profile-grd-item-img-ctlr">
                              <a href="#" class="overlay-link"></a>
                              <div class="profile-grd-item-img inline-bg" style="background: url(/assets/product-img-01.jpg);"></div>
                            </div>
                            <div class="profile-grd-item-des mHc">
                              <div class="profile-grd-item-des-inr">
                                <div class="profile-des-col-01 profile-des-col">
                                  <h4 class="profile-sub-title fl-h5">Collection name</h4>
                                  <h3 class="profile-grd-item-title fl-h5 mHc1"><a href="#">item name</a></h3>
                                </div>
                                <div class="profile-des-col-02 profile-des-col">
                                  <strong>Price</strong>
                                  <span class="price">
                                    <span class="fs-Price-amount amount">
                                      <bdi>
                                        0.03
                                      </bdi>
                                    </span>
                                  </span>
                                </div>
                              </div>
                              <div class="wish-list-cntlr">
                                <span>
                                  <a href="#">
                                    <i>
                                      <svg class="wish-list-dots-svg" width="32" height="9" viewBox="0 0 32 9" fill="#C4C4C4">
                                        <use xlink:href="#wish-list-dots-svg"></use> 
                                      </svg>
                                    </i> 
                                  </a>
                                  <div class="wish-list-des">
                                    <ul class="reset-list">
                                      <li><a href="#">option 1</a></li>
                                      <li><a href="#">option 2</a></li>
                                      <li><a href="#">option 3</a></li>
                                      <li><a href="#">option 4</a></li>
                                      <li><a href="#">option 5</a></li>
                                    </ul>
                                  </div>
                                </span>
                                <div class="profile-wishlist-icon">
                                  <a href="#">
                                    <i>
                                      <svg class="heart-icon-2-svg" width="35" height="31" viewBox="0 0 35 31" fill="#737373">
                                        <use xlink:href="#heart-icon-2-svg"></use> 
                                      </svg>
                                    </i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="profile-grd-item-col">
                          <div class="profile-grd-item">
                            <div class="profile-grd-item-img-ctlr">
                              <a href="#" class="overlay-link"></a>
                              <div class="profile-grd-item-img inline-bg" style="background: url(/assets/product-img-02.jpg);"></div>
                            </div>
                            <div class="profile-grd-item-des mHc">
                              <div class="profile-grd-item-des-inr">
                                <div class="profile-des-col-01 profile-des-col">
                                  <h4 class="profile-sub-title fl-h5">Collection name</h4>
                                  <h3 class="profile-grd-item-title fl-h5 mHc1"><a href="#">item name</a></h3>
                                </div>
                                <div class="profile-des-col-02 profile-des-col">
                                  <strong>Price</strong>
                                  <span class="price">
                                    <span class="fs-Price-amount amount">
                                      <bdi>
                                        0.03
                                      </bdi>
                                    </span>
                                  </span>
                                </div>
                              </div>
                              <div class="wish-list-cntlr">
                                <span>
                                  <a href="#">
                                    <i>
                                      <svg class="wish-list-dots-svg" width="32" height="9" viewBox="0 0 32 9" fill="#C4C4C4">
                                        <use xlink:href="#wish-list-dots-svg"></use> 
                                      </svg>
                                    </i> 
                                  </a>
                                  <div class="wish-list-des">
                                    <ul class="reset-list">
                                      <li><a href="#">option 1</a></li>
                                      <li><a href="#">option 2</a></li>
                                      <li><a href="#">option 3</a></li>
                                      <li><a href="#">option 4</a></li>
                                      <li><a href="#">option 5</a></li>
                                    </ul>
                                  </div>
                                </span>
                                <div class="profile-wishlist-icon">
                                  <a href="#">
                                    <i>
                                      <svg class="heart-icon-2-svg" width="35" height="31" viewBox="0 0 35 31" fill="#737373">
                                        <use xlink:href="#heart-icon-2-svg"></use> 
                                      </svg>
                                    </i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="profile-grd-item-col">
                          <div class="profile-grd-item">
                            <div class="profile-grd-item-img-ctlr">
                              <a href="#" class="overlay-link"></a>
                              <div class="profile-grd-item-img inline-bg" style="background: url(/assets/product-img-03.jpg);"></div>
                            </div>
                            <div class="profile-grd-item-des mHc">
                              <div class="profile-grd-item-des-inr">
                                <div class="profile-des-col-01 profile-des-col">
                                  <h4 class="profile-sub-title fl-h5">Collection name</h4>
                                  <h3 class="profile-grd-item-title fl-h5 mHc1"><a href="#">item name</a></h3>
                                </div>
                                <div class="profile-des-col-02 profile-des-col">
                                  <strong>Price</strong>
                                  <span class="price">
                                    <span class="fs-Price-amount amount">
                                      <bdi>
                                        0.03
                                      </bdi>
                                    </span>
                                  </span>
                                </div>
                              </div>
                              <div class="wish-list-cntlr">
                                <span>
                                  <a href="#">
                                    <i>
                                      <svg class="wish-list-dots-svg" width="32" height="9" viewBox="0 0 32 9" fill="#C4C4C4">
                                        <use xlink:href="#wish-list-dots-svg"></use> 
                                      </svg>
                                    </i> 
                                  </a>
                                  <div class="wish-list-des">
                                    <ul class="reset-list">
                                      <li><a href="#">option 1</a></li>
                                      <li><a href="#">option 2</a></li>
                                      <li><a href="#">option 3</a></li>
                                      <li><a href="#">option 4</a></li>
                                      <li><a href="#">option 5</a></li>
                                    </ul>
                                  </div>
                                </span>
                                <div class="profile-wishlist-icon">
                                  <a href="#">
                                    <i>
                                      <svg class="heart-icon-2-svg" width="35" height="31" viewBox="0 0 35 31" fill="#737373">
                                        <use xlink:href="#heart-icon-2-svg"></use> 
                                      </svg>
                                    </i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="profile-grd-item-col">
                          <div class="profile-grd-item">
                            <div class="profile-grd-item-img-ctlr">
                              <a href="#" class="overlay-link"></a>
                              <div class="profile-grd-item-img inline-bg" style="background: url(/assets/product-img-04.jpg);"></div>
                            </div>
                            <div class="profile-grd-item-des mHc">
                              <div class="profile-grd-item-des-inr">
                                <div class="profile-des-col-01 profile-des-col">
                                  <h4 class="profile-sub-title fl-h5">Collection name</h4>
                                  <h3 class="profile-grd-item-title fl-h5 mHc1"><a href="#">item name</a></h3>
                                </div>
                                <div class="profile-des-col-02 profile-des-col">
                                  <strong>Price</strong>
                                  <span class="price">
                                    <span class="fs-Price-amount amount">
                                      <bdi>
                                        0.03
                                      </bdi>
                                    </span>
                                  </span>
                                </div>
                              </div>
                              <div class="wish-list-cntlr">
                                <span>
                                  <a href="#">
                                    <i>
                                      <svg class="wish-list-dots-svg" width="32" height="9" viewBox="0 0 32 9" fill="#C4C4C4">
                                        <use xlink:href="#wish-list-dots-svg"></use> 
                                      </svg>
                                    </i> 
                                  </a>
                                  <div class="wish-list-des">
                                    <ul class="reset-list">
                                      <li><a href="#">option 1</a></li>
                                      <li><a href="#">option 2</a></li>
                                      <li><a href="#">option 3</a></li>
                                      <li><a href="#">option 4</a></li>
                                      <li><a href="#">option 5</a></li>
                                    </ul>
                                  </div>
                                </span>
                                <div class="profile-wishlist-icon">
                                  <a href="#">
                                    <i>
                                      <svg class="heart-icon-2-svg" width="35" height="31" viewBox="0 0 35 31" fill="#737373">
                                        <use xlink:href="#heart-icon-2-svg"></use> 
                                      </svg>
                                    </i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="profile-grd-item-col">
                          <div class="profile-grd-item">
                            <div class="profile-grd-item-img-ctlr">
                              <a href="#" class="overlay-link"></a>
                              <div class="profile-grd-item-img inline-bg" style="background: url(/assets/product-img-05.jpg);"></div>
                            </div>
                            <div class="profile-grd-item-des mHc">
                              <div class="profile-grd-item-des-inr">
                                <div class="profile-des-col-01 profile-des-col">
                                  <h4 class="profile-sub-title fl-h5">Collection name</h4>
                                  <h3 class="profile-grd-item-title fl-h5 mHc1"><a href="#">item name</a></h3>
                                </div>
                                <div class="profile-des-col-02 profile-des-col">
                                  <strong>Price</strong>
                                  <span class="price">
                                    <span class="fs-Price-amount amount">
                                      <bdi>
                                        0.03
                                      </bdi>
                                    </span>
                                  </span>
                                </div>
                              </div>
                              <div class="wish-list-cntlr">
                                <span>
                                  <a href="#">
                                    <i>
                                      <svg class="wish-list-dots-svg" width="32" height="9" viewBox="0 0 32 9" fill="#C4C4C4">
                                        <use xlink:href="#wish-list-dots-svg"></use> 
                                      </svg>
                                    </i> 
                                  </a>
                                  <div class="wish-list-des">
                                    <ul class="reset-list">
                                      <li><a href="#">option 1</a></li>
                                      <li><a href="#">option 2</a></li>
                                      <li><a href="#">option 3</a></li>
                                      <li><a href="#">option 4</a></li>
                                      <li><a href="#">option 5</a></li>
                                    </ul>
                                  </div>
                                </span>
                                <div class="profile-wishlist-icon">
                                  <a href="#">
                                    <i>
                                      <svg class="heart-icon-2-svg" width="35" height="31" viewBox="0 0 35 31" fill="#737373">
                                        <use xlink:href="#heart-icon-2-svg"></use> 
                                      </svg>
                                    </i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="profile-grd-item-col">
                          <div class="profile-grd-item">
                            <div class="profile-grd-item-img-ctlr">
                              <a href="#" class="overlay-link"></a>
                              <div class="profile-grd-item-img inline-bg" style="background: url(/assets/product-img-06.jpg);"></div>
                            </div>
                            <div class="profile-grd-item-des mHc">
                              <div class="profile-grd-item-des-inr">
                                <div class="profile-des-col-01 profile-des-col">
                                  <h4 class="profile-sub-title fl-h5">Collection name</h4>
                                  <h3 class="profile-grd-item-title fl-h5 mHc1"><a href="#">item name</a></h3>
                                </div>
                                <div class="profile-des-col-02 profile-des-col">
                                  <strong>Price</strong>
                                  <span class="price">
                                    <span class="fs-Price-amount amount">
                                      <bdi>
                                        0.03
                                      </bdi>
                                    </span>
                                  </span>
                                </div>
                              </div>
                              <div class="wish-list-cntlr">
                                <span>
                                  <a href="#">
                                    <i>
                                      <svg class="wish-list-dots-svg" width="32" height="9" viewBox="0 0 32 9" fill="#C4C4C4">
                                        <use xlink:href="#wish-list-dots-svg"></use> 
                                      </svg>
                                    </i> 
                                  </a>
                                  <div class="wish-list-des">
                                    <ul class="reset-list">
                                      <li><a href="#">option 1</a></li>
                                      <li><a href="#">option 2</a></li>
                                      <li><a href="#">option 3</a></li>
                                      <li><a href="#">option 4</a></li>
                                      <li><a href="#">option 5</a></li>
                                    </ul>
                                  </div>
                                </span>
                                <div class="profile-wishlist-icon">
                                  <a href="#">
                                    <i>
                                      <svg class="heart-icon-2-svg" width="35" height="31" viewBox="0 0 35 31" fill="#737373">
                                        <use xlink:href="#heart-icon-2-svg"></use> 
                                      </svg>
                                    </i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
  