<div class="create-new-item-cont-cntlr">
    <div class="custom-nft-qoute-form-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-cntnt-cntlr-module">
              <div class="form-entry-hdr">
                  <h1 class="fl-h1 form-entry-hdr-title">Create New Item</h1>
              </div>

              <div class="form-wrp-module clearfix">
                <form class="needs-validation" novalidate="">

                  <div class="input-fields-row img-adding-row">
                    <div class="input-field">
                      
                      <label for=""><span class="input-required-label">*</span>Required Fields</label>
                      <!-- <label for="">Image, Video, Audio, or 3D Model</label> -->
                      <strong class="fl-h5 file-type-title">Image, Video, Audio, or 3D Model</strong>
                      <span class="file-formate-type" for="">File types supported JPG, PNG, GIF, MP4 etc.</span>
                      <input class="upload-file" type="file" id="file2" required="" accept="mp4/*,gif/*,image/*">
                      
                      <label class="input-file-label" for="file2">

                        <span class="in-icon in-icon-file plasholder">
                          <i><svg class="imgfile-add-icon" width="62" height="62" viewBox="0 0 62 62" fill="#202D42">
                            <use xlink:href="#imgfile-add-icon"></use> </svg>
                          </i>
                          
                        </span>
                        <div class="file-upload-here file2" id="file-upload-here">
                          <img id="upload-image" src="" alt="">
                        </div>
                      </label>


                      <!-- <label class="input-file-label" for="file2"><span class="plasholder"></span></label> -->
                      <!-- <div class="file-upload-here file2"></div> -->
                    </div>
                  </div>

                  <div class="input-fields-row input-field-name-row">
                    <div class="input-field">
                      <label for="">Name<span class="input-required-label">*</span></label>
                      <input type="text" name="fname" placeholder="Item name" required="">
                      <label id="required_1-error" class="required-error" for="required_1">This field is required.</label>
                    </div>
                  </div> 


                  <div class="input-fields-row">
                    <div class="input-field">
                      <label for="">External Link<!-- <span class="input-required-label">*</span> --></label>
                      <input type="text" name="fname" placeholder="https://yoursite.io/item" required="">
                      <label id="required_1-error" class="required-error" for="required_1">This field is required.</label>
                    </div>
                  </div> 

                  <div class="input-fields-row">
                    <div class="input-field input-field-textarea">
                      <label for="">Description<!-- <span class="input-required-label">*</span> --></label>
                      <textarea placeholder="Enter detailed description of your item" required=""></textarea>
                      <label id="required_1-error" class="required-error" for="required_1">This field is required.</label>
                    </div>
                  </div>


                  <div class="input-fields-row select-collection-row">
                    <div class="input-field">
                      <label for="">Select Collecction</label>
                      <div class="contact-select contact-select-down-icon">
                        <select class="xontact-custom-select select-2-cntlr select2-hidden-accessible" data-select2-id="select2-data-1-y9sk" tabindex="-1" aria-hidden="true">
                          <option selected="" data-select2-id="select2-data-3-6v87">Select Collection</option>
                          <option value="1">Select Collection-01</option>
                          <option value="2">Select Collection-02</option>
                          <option value="3">Select Collection-03</option>
                          <option value="4">Select Collection-04</option>
                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-2-218z" style="width: 183px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-m43m-container" aria-controls="select2-m43m-container"><span class="select2-selection__rendered" id="select2-m43m-container" role="textbox" aria-readonly="true" title="Select Collection">Select Collection</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-rows">
                    <div class="contct-form-acordion-grd-wrap">
                      <div class="faq-accordion-grd">
                        <div class="contct-form-acordion-grd-item-col">
                          <div class="contct-form-acordion-grd-item">
                            <div class="contct-form-acordion-contnt">
                              <div class="contct-form-acordion-hdr">
                                <h5 class="contct-form-acordion-title">Properties</h5>
                                <span>Traits that differentiate items</span>
                              </div>
                              <div class="contct-form-accordion-desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh at molestie lectus sit sit posuere in.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh at molestie lectus sit sit posuere in.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="contct-form-acordion-grd-item-col">
                          <div class="contct-form-acordion-grd-item">
                            <div class="contct-form-acordion-contnt">
                              <div class="contct-form-acordion-hdr">
                                <h5 class="contct-form-acordion-title">Levels</h5>
                                <span>Traits that differentiate items</span>
                              </div>
                              <div class="contct-form-accordion-desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh at molestie lectus sit sit posuere in.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh at molestie lectus sit sit posuere in.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="contct-form-acordion-grd-item-col">
                          <div class="contct-form-acordion-grd-item">
                            <div class="contct-form-acordion-contnt">
                              <div class="contct-form-acordion-hdr">
                                <h5 class="contct-form-acordion-title">Stats</h5>
                                <span>Traits that differentiate items</span>
                              </div>
                              <div class="contct-form-accordion-desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh at molestie lectus sit sit posuere in.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh at molestie lectus sit sit posuere in.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="input-fields-row unlockable-cont-row">
                    <div class="input-field">
                      <label for="">Unlockable Content</label>
                      <span>Include unlockable content that can only be revealed by the owner of the item.</span>

                      <div class="wpform-checkbox-cntlr">
                        <input type="checkbox" id="des">
                        <span class="checkmark"></span>
                        <!-- <label for="des">I accept the terms and conditions</a></label> -->
                    </div>
                    </div>
                  </div>

                  <div class="input-fields-row input-field-number">
                    <div class="input-field">
                      <label for="">Editions</label>
                      <span>No of items that can be minted</span>
                      <input type="number">
                    </div>
                  </div>

                  <div class="input-fields-row blockchain-fields-row">
                    <div class="input-field">
                      <label for="">Blockchain</label>
                      <div class="contact-select contact-select-down-icon">
                        <select class="xontact-custom-select select-2-cntlr select2-hidden-accessible" data-select2-id="select2-data-4-iypw" tabindex="-1" aria-hidden="true">
                          <option selected="" data-select2-id="select2-data-6-tcu6">Ethereum</option>
                          <option value="1">Ethereum-1</option>
                          <option value="2">Ethereum-2</option>
                          <option value="3">Ethereum-3</option>
                          <option value="4">Ethereum-4</option>
                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-5-f335" style="width: 117px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-x0bs-container" aria-controls="select2-x0bs-container"><span class="select2-selection__rendered" id="select2-x0bs-container" role="textbox" aria-readonly="true" title="Ethereum">Ethereum</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-fields-row freeze-metadata-row">
                    <div class="input-field">
                      <label for="">Freeze Metadata</label>    
                      <span>Freezing your metadata will allow you to permanently lock and store all of this item's content in decentralized file storage.</span>              
                      <input type="text" name="fname" placeholder="To freeze your metadata, you must create your item first." required="">
                      <label id="required_1-error" class="required-error" for="required_1">This field is required.</label>
                    </div>
                  </div>               

                  <div class="input-field-btn">
                    <button type="submit" name="submit" class="cnt-form-btn">Create</button>
                  </div>
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>