<div class="explore-page-con-cntlr">
      <section class="explore-collection-sec">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-entry-hdr">
                <h1 class="fl-h3 page-entry-hdr-title">Explore Collections</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="fs-category">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="fs-cat-menu-cntlr mobile-filter">
                  <div class="fl-cat-menu">
                    <div class="xs-cat-switch-btn-cntlr show-md">
                      <div class="xs-cat-switch-btn">
                          <span>Categories</span>
                      </div>
                    </div>
                    <ul class="reset-list">
                      <li class="trending active">
                        <a href="#">Trending</a></li>
                      <li class="top">
                        <a href="#">Top</a>
                      </li>
                      <li class="art">
                        <a href="#">Art</a>
                      </li>
                      <li class="collectibles">
                        <a href="#">Collectibles</a>
                      </li>     
                      <li class="domain-names">
                        <a href="#">Domain Names</a>
                      </li>       
                      <li class="photography">
                        <a href="#">Photography</a>
                      </li> 
                      <li class="trading-cards">
                        <a href="#">Trading Cards</a>
                      </li> 
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="explore-grds-cntlr">
                <ul class="reset-list">
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="explore-grid-item-col">
                      <div class="explore-grid-item">
                        <a class="overlay-link" href="#"></a>
                        <div class="explr-grd-itm-img-cntlr">
                          <div class="explr-grd-itm-img-inr">
                            <div class="explr-grd-itm-img" style="background-image: url('/assets/product-img-01.jpg');"></div>
                          </div>
                          <div class="explr-grd-itm-name"><img src="/assets/product-img-04.jpg"></div>
                        </div>
                        <div class="explr-grd-itm-des mHc" style="height: 187.375px;">
                          <h3 class="fl-h6 exgi-title mHc1" style="height: 21.5938px;">Collection Name</h3>
                            <h4 class="fl-h6 explr-grd-itm-usr-name mHc2" style="height: 21.5938px;">By Username</h4>
                          <div class="expgi-des">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>