<div class="innerpage-con-cntlr">
    <section class="innerpage-con-wrap">
      <article class="default-page-con">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="innerpage-con-inner">
                <div class="innerpage-con-lft">
                  <div class="innerpage-feature-img">                
                    <img src="assets/dfp-img-01.jpg">
                  </div>
                  <div class="innerpage-lft-des-cntlr">
                    <div class="innerpage-lft-des">
                      <h2 class="innerpage-lft-des-title fl-h6">Description</h2>
                      <span class="innerpage-lft-des-sub-title">About Collection</span>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    </div>
                    <div class="innerpage-about-collection">
                      <h3 class="fs-iac-title">About Collection</h3>
                      <ul class="reset-list">
                        <li>
                          <strong>Contract Address</strong>
                          <span>0x3e69...df11</span>
                        </li>
                        <li>
                          <strong>Token ID</strong>
                          <span>3146</span>
                        </li>
                        <li>
                          <strong>Token Standard</strong>
                          <span>ERC-721</span>
                        </li>
                        <li>
                          <strong>Blockchain</strong>
                          <span>Ethereum</span>
                        </li>
                      </ul>                    
                    </div>
                  </div>
                </div>
                <div class="innerpage-con-rgt">
                  <div class="innerpage-summary-cntlr">
                    <div class="innerpage-summary">
                      <div class="innerpage-summary-con">
                        <h3 class="fs-is-sub-title fl-h6">Collection Name</h3>
                        <h2 class="fs-is-title fl-h2">Item Name</h2>
                        <div class="innerpage-summary-own">
                          <span>Owned by</span>
                          <strong>HouseofFirst</strong>
                        </div>
                      </div>
                      <div class="fs-clickable-btns">
                        <div class="fs-clickable-btns-inr">
                          <div class="clickable-btn">
                            <div class="share-btn btn-click">
                              <a href="#">
                                <i>
                                  <svg class="share-icon" width="24" height="25" viewBox="0 0 24 25" fill="#A8A8A8">
                                    <use xlink:href="#share-icon"></use> 
                                  </svg>
                                </i>                              
                              </a>
                              <div class="share-socials btn-click-des">
                                <ul class="reset-list">
                                  <li>
                                    <a target="_blank" href="#">
                                      <i class="fab fa-facebook-f"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a target="_blank" href="#">
                                      <i class="fab fa-linkedin-in"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a target="_blank" href="#">
                                      <i class="fab fa-instagram"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a target="_blank" href="#">
                                      <i class="fab fa-flickr"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="clickable-btn">
                            <div class="setting-btn btn-click">
                              <a href="#">
                                <i>
                                  <svg class="setting-icon" width="7" height="27" viewBox="0 0 7 27" fill="#A8A8A8">
                                    <use xlink:href="#setting-icon"></use> 
                                  </svg>   
                                </i>
                              </a>
                              <div class="setting-option btn-click-des">
                                <ul class="reset-list">
                                  <li>
                                    <a href="#">option 1</a>
                                  </li>
                                  <li>
                                    <a href="#">option 2</a>
                                  </li>
                                  <li>
                                    <a href="#">option 3</a>
                                  </li>
                                  <li>
                                    <a href="#">option 4</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="innerpage-summary-rgt"></div>
                    </div>
                    <div class="innerpage-summary-offer-cntlr">
                      <div class="innerpage-summary-offer-inner">
                        <h3 class="innerpage-summary-offer-title fl-h6">Highest Offer</h3>
                        <h4 class="innerpage-summary-offer-sub-title fl-h6">Top Bid</h4>
                        <div class="innerpage-summary-offer-price">
                          <i>
                            <img src="assets/images/price-icon.svg" alt="">
                          </i>
                          <strong>0.03</strong><span> ($249.72)</span>
                        </div>
                        <div class="innerpage-summary-offer-btn">
                          <div class="fs-btn-cntlr">
                            <a href="#" class="fs-btn">Make Offer</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fs-accordion-wrap">
                    <ul class="reset-list">
                      <li>
                        <div class="fs-accordion">
                          <div class="fs-accordion-hdr">
                            <h3 class="fs-accordion-title">Price History</h3>
                          </div>
                          <div class="fs-accordion-des">
                            <div class="fs-accordion-des-inr">
                              <div class="fs-accordion-select-cntlr">
                                <select class="custom-select select-2-cntlr select2-hidden-accessible" data-select2-id="select2-data-1-s1th" tabindex="-1" aria-hidden="true">
                                  <option selected="" data-select2-id="select2-data-3-h6pm">All time</option>
                                  <option value="1">10 jan - 20 jan</option>
                                  <option value="1">20 jan - 30 jan</option>
                                  <option value="2">01 feb - 10 feb</option>
                                  <option value="3">10 feb - 20 feb</option>
                                  <option value="4">20 feb - 29 feb</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-2-9aez" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-gjq3-container" aria-controls="select2-gjq3-container"><span class="select2-selection__rendered" id="select2-gjq3-container" role="textbox" aria-readonly="true" title="All time">All time</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                              </div>
                              <div class="fs-accordion-graps">
                                <img src="assets/images/summary-img.jpg" alt="">
                              </div>
                            </div>                         
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="fs-accordion">
                          <div class="fs-accordion-hdr">
                            <h3 class="fs-accordion-title">Offers</h3>
                          </div>
                          <div class="fs-accordion-des" style="">
                            <div class="table-dsc" style="">
                              <table class="table" style="">
                                <thead class="dfp-thead" style="">
                                  <tr style="">
                                    <th style=""><span class="mHc" style="">Price</span></th>
                                    <th style=""><span class="mHc" style="">USD Price</span></th>
                                    <th style=""><span class="mHc" style="">Floor Difference</span></th>
                                    <th style=""><span class="mHc" style="">Expiration</span></th>
                                    <th style=""><span class="mHc" style="">From</span></th>
                                  </tr>
                                </thead>
                                <tbody style="">
                                  <tr style="">
                                    <td style=""><span class="mHc" style="">0.5 WETH</span></td>
                                    <td style=""><span class="mHc" style="">$2,139.14</span></td>
                                    <td style=""><span class="mHc" style="">66% below</span></td>
                                    <td style=""><span class="mHc" style="">in a month</span></td>
                                    <td style=""><span class="mHc" style="">nadav-hollander</span></td>
                                  </tr>
                                  <tr style="">
                                    <td style=""><span class="mHc" style="">0.5 WETH</span></td>
                                    <td style=""><span class="mHc" style="">$2,139.14</span></td>
                                    <td style=""><span class="mHc" style="">66% below</span></td>
                                    <td style=""><span class="mHc" style="">in a month</span></td>
                                    <td style=""><span class="mHc" style="">nadav-hollander</span></td>
                                  </tr>
                                  <tr style="">
                                    <td style=""><span class="mHc" style="">0.5 WETH</span></td>
                                    <td style=""><span class="mHc" style="">$2,139.14</span></td>
                                    <td style=""><span class="mHc" style="">66% below</span></td>
                                    <td style=""><span class="mHc" style="">in a month</span></td>
                                    <td style=""><span class="mHc" style="">nadav-hollander</span></td>
                                  </tr>
                                  <tr style="">
                                    <td style=""><span class="mHc" style="">0.5 WETH</span></td>
                                    <td style=""><span class="mHc" style="">$2,139.14</span></td>
                                    <td style=""><span class="mHc" style="">66% below</span></td>
                                    <td style=""><span class="mHc" style="">in a month</span></td>
                                    <td style=""><span class="mHc" style="">nadav-hollander</span></td>
                                  </tr>
                                  <tr style="">
                                    <td style=""><span class="mHc" style="">0.5 WETH</span></td>
                                    <td style=""><span class="mHc" style="">$2,139.14</span></td>
                                    <td style=""><span class="mHc" style="">66% below</span></td>
                                    <td style=""><span class="mHc" style="">in a month</span></td>
                                    <td style=""><span class="mHc" style="">nadav-hollander</span></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>                          
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="fs-accordion">
                          <div class="fs-accordion-hdr">
                            <h3 class="fs-accordion-title">Listings</h3>
                          </div>
                          <div class="fs-accordion-des" style="">
                            <div class="table-dsc" style="">
                              <table class="table" style="">
                                <thead class="dfp-thead" style="">
                                  <tr style="">
                                    <th style=""><span class="mHc" style="">Price</span></th>
                                    <th style=""><span class="mHc" style="">USD Price</span></th>
                                    <th style=""><span class="mHc" style="">Floor Difference</span></th>
                                    <th style=""><span class="mHc" style="">Expiration</span></th>
                                    <th style=""><span class="mHc" style="">From</span></th>
                                  </tr>
                                </thead>
                                <tbody style="">
                                  <tr style="">
                                    <td style=""><span class="mHc" style="">0.5 WETH</span></td>
                                    <td style=""><span class="mHc" style="">$2,139.14</span></td>
                                    <td style=""><span class="mHc" style="">66% below</span></td>
                                    <td style=""><span class="mHc" style="">in a month</span></td>
                                    <td style=""><span class="mHc" style="">nadav-hollander</span></td>
                                  </tr>
                                  <tr style="">
                                    <td style=""><span class="mHc" style="">0.5 WETH</span></td>
                                    <td style=""><span class="mHc" style="">$2,139.14</span></td>
                                    <td style=""><span class="mHc" style="">66% below</span></td>
                                    <td style=""><span class="mHc" style="">in a month</span></td>
                                    <td style=""><span class="mHc" style="">nadav-hollander</span></td>
                                  </tr>
                                  <tr style="">
                                    <td style=""><span class="mHc" style="">0.5 WETH</span></td>
                                    <td style=""><span class="mHc" style="">$2,139.14</span></td>
                                    <td style=""><span class="mHc" style="">66% below</span></td>
                                    <td style=""><span class="mHc" style="">in a month</span></td>
                                    <td style=""><span class="mHc" style="">nadav-hollander</span></td>
                                  </tr>
                                  <tr style="">
                                    <td style=""><span class="mHc" style="">0.5 WETH</span></td>
                                    <td style=""><span class="mHc" style="">$2,139.14</span></td>
                                    <td style=""><span class="mHc" style="">66% below</span></td>
                                    <td style=""><span class="mHc" style="">in a month</span></td>
                                    <td style=""><span class="mHc" style="">nadav-hollander</span></td>
                                  </tr>
                                  <tr style="">
                                    <td style=""><span class="mHc" style="">0.5 WETH</span></td>
                                    <td style=""><span class="mHc" style="">$2,139.14</span></td>
                                    <td style=""><span class="mHc" style="">66% below</span></td>
                                    <td style=""><span class="mHc" style="">in a month</span></td>
                                    <td style=""><span class="mHc" style="">nadav-hollander</span></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>                          
                          </div>
                        </div>
                      </li>
                    </ul>                        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>