<div class="xs-mobile-menu">
    <div class="xs-pop-up-menu-inr">
      <div class="xs-pop-up-menu-top">
        <div class="logo">
          <a href="#"><img src="/assets/logo.png"></a>
        </div>
        <div class="hamburger-cntlr">
          <div class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="xs-pop-menu-con">
        <div class="xs-menu">
          <nav class="main-nav">
            <ul class="clearfix reset-list">
              <li class="current-menu-item"><a href="#">Exlplore</a></li>
              <li class="menu-item-has-children">
                <a href="#">Stats</a>
                <ul class="sub-menu">
                  <li><a href="#">submenu 1</a></li>
                  <li><a href="#">submenu 2</a></li>
                  <li><a href="#">submenu 3</a></li>
                </ul>
              </li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Create</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="xs-pop-menu-btm">
        
      </div>
    </div>
  </div>
<!-- end of header -->
<section class="page-banner-cntlr">
  <div class="page-banner">
    <div class="page-banner-bg inline-bg" style="background:url(/assets/banner-img.jpg);"></div>
    <div class="page-bnr-des">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           <h1 class="fl-h1">Sitemap</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sitemap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sitemap">
          <ol>    
            <li><a target="_blank" href="home.html"><%= link_to 'Home', item_page_path %></a></li>
            <li><a target="_blank" href="profile.html"><%= link_to 'Profile', profile_page_path %></a></li>
            <li><a target="_blank" href="innerpage.html"><%= link_to 'Inner page', map_page_path %></a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
