.custom-nft-qoute-form-sec {
    margin-bottom: 250px;
    padding-top: 85px;
}
.txt-centr{
    text-align: center;
}
.custom-nft-qoute-cont-cntlr .form-entry-hdr{
    margin-bottom: 85px;
}
.form-entry-hdr-title{
    font-family: 'Roboto', sans-serif;
}
.input-fields-row{
    max-width: 690px;
    width: 100%;
}

.input-field {
    margin-bottom: 24px;
    position: relative;
}
.input-field label {
    color: #000000;
    line-height: 1.5;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 24px;
    position: relative;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.input-field.required-has-error  textarea.required-error, 
.input-field.required-has-error input.required-error[type="email"], 
.input-field.required-has-error input.required-error[type="text"] {
    border: 1px solid #B53421!important;
}
.input-field  textarea:focus, 
.input-field input[type="number"]:focus,
.input-field input[type="email"]:focus, 
.input-field label.input-file-label:focus, 
.input-field input[type="text"]:focus,
.input-field input[type="file"]:focus {
    border-color: #dadada!important;
}
.file-attach-row .file-attach-row-input-label-wrap {
    position: relative;
    border: 1px solid #737373!important;
    border-radius: 10px; 
}
.input-field label.input-file-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 10px 20px;
    color: #737373;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 0!important;
    z-index: 2;
}
.file-attach-row-input-label-wrap input[type="file"]{
    opacity: 0!important;
    margin-bottom: 0;
}
.input-field  textarea, 
.input-field input[type="email"], 
.input-field input[type="text"], 
.input-field input[type="file"] {
    width: 100%;
    max-width: 100%;
    height: 54px;
    background: #fff;
    border: 1px solid #737373!important;
    box-sizing: border-box;
    padding: 12.5px 20px 11.5px 20px;
    color: #737373;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 10px;
}
.input-field textarea {
    height: 124px;
    padding-top: 10px;
    resize: none;
    display: block;
}
.input-field-btn {
    display: flex;
    padding-top: 25px;
}
.cnt-form-btn {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: baseline;
    flex-basis: 185px;
    color: #fff;
    background: #000;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    padding: 17px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid #fff;
}
.cnt-form-btn:hover{
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}
/* for VALIDATION  */
.form-wrp-module .input-fields-row .input-field label.required-error {
    display: none
}
.form-wrp-module .was-validated .input-fields-row .input-field.required-has-error label.required-error {
    display: block;
}
.form-wrp-module .input-fields-row .input-field.required-has-error label.required-error {
    font-weight: 400;
    font-size: 14px;
    padding-left: 2px;
    position: absolute;
    top: initial;
    right: 12px;
    color: #B53421;
    margin-bottom: 0;
    text-transform: inherit;
    font-family: 'Roboto', sans-serif;
    display: none
}
.form-wrp-module .input-fields-row .input-field.required-has-error .required-error:after {
    content: "x";
    position: absolute;
    bottom: 41px;
    right: 22px;
    color: #B53421;
    opacity: 1;
    display: block;
    line-height: 1;
}
.form-wrp-module .input-fields-row .input-field-textarea.required-has-error .required-error:after{
    bottom: 105px!important;
}
.form-wrp-module .input-fields-row .input-field.required-has-error textarea::placeholder,
.form-wrp-module .input-fields-row .input-field.required-has-error input[type="text"]::placeholder
{
    color: #B53421;
}
.custom-nft-qoute-cont-cntlr .input-fields-row .input-field .file-upload-here {
    position: absolute;
    left: 20px;
    overflow: hidden;
    top: 0!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.file-upload-here span{
    margin-bottom: 0!important;
}
span.plasholder {
    font-size: 23px;
    color: #737373;
    line-height: 1.3;
    margin-bottom: 0!important;
}
/*------------placeholder-start--------------*/
.input-field input[type="number"]::placeholder,
.input-field input[type="text"]::placeholder,
.input-field input[type="email"]::placeholder,
.input-field textarea::placeholder{
	color: #737373;	
	opacity: 1;
}
.input-field input[type="number"]::-webkit-input-placeholder,
.input-field input[type="text"]::-webkit-input-placeholder,
.input-field input[type="email"]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder{
	color: #737373;	
	opacity: 1;
}
.input-field input[type="number"]::-moz-placeholder,
.input-field input[type="text"]::-moz-placeholder,
.input-field input[type="email"]::-moz-placeholder,
.input-field textarea::-moz-placeholder{
	color: #737373;	
	opacity: 1;
}
.input-field input[type="number"]::-ms-input-placeholder,
.input-field input[type="text"]::-ms-input-placeholder,
.input-field input[type="email"]::-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder{
	color: #737373;	
	opacity: 1;
}

/* ------------reponsive----------- */
@media(max-width:1199px){
    .input-field label{
        font-size: 21px;
    }
    .input-field label.input-file-label{
        font-size: 21px!important;
    }
    span.plasholder {
        font-size: 21px;
    }
    .custom-nft-qoute-cont-cntlr .custom-nft-qoute-form-sec {
        margin-bottom: 200px;
        padding-top: 75px;
    }
    .custom-nft-qoute-form-sec .form-entry-hdr {
        margin-bottom: 70px;
    }
}
@media(max-width:991px){
    span.plasholder {
        font-size: 19px;
    }
    .input-field label.input-file-label {
        padding: 10px 15px;
    }
    .custom-nft-qoute-cont-cntlr .custom-nft-qoute-form-sec {
        margin-bottom: 150px;
        padding-top: 65px;
    }
    .custom-nft-qoute-form-sec .form-entry-hdr {
        margin-bottom: 50px;
    }
}
@media(max-width:767px){
    .input-field label.input-file-label {
        font-size: 18px!important;
        overflow-y: scroll;
        padding: 10px 10px;
    }
    span.plasholder {
        font-size: 17px;
    }
    .input-field label {
        font-size: 18px;
    }
    .input-field textarea {
        /* font-size: 18px; */
    }
    .custom-nft-qoute-cont-cntlr .custom-nft-qoute-form-sec {
        margin-bottom: 100px;
    }
    .custom-nft-qoute-form-sec .form-entry-hdr {
        margin-bottom: 40px;
    }
}
