.footer-wrp{
	background: #000000;
	padding-top: 75px;
}
.footer-inr{

}
.ftr-top-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.ftr-search-module{

}
.ftr-search-title{
	margin-bottom: 12px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.ftr-search-module p{
	color: #FFFFFF;
}
.ftr-search-module p:last-of-type{
	margin-bottom: 20px;
}
.ftr-search-cntlr{
	width: 518px;
	position: relative;
}
.ftr-search-cntlr form{
	position: relative;
}
.ftr-search-cntlr form input{
	width: 100%;
	font-size: 15px;
	color: #BFBFBF;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 20px 154px 20px 15px;
	border:  1px solid transparent;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ftr-search-cntlr form input:focus{
	border-color: #A2222F;
}
.ftr-search-cntlr form button{
	display: inline-block;
	font-weight: 600;
	font-size: 17px;
	line-height: 1;
	color: #FFFFFF;
	background: #A2222F;
	border-radius: 3px;
	cursor: pointer;
	padding: 18px 36px;
	border: 2px solid transparent;
	position: absolute;
	right: 5px;
	top: 4px;
}
.ftr-search-cntlr form button:hover{
	background: #000;
	border-color: #000;
}
.ftr-socials-cntlr{
	margin-left: auto;
}
.ftr-socials-title{
	margin-bottom: 28px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-align: right;
	font-size: 22px!important;
}
.ftr-socials{
	
}
.ftr-socials ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.ftr-socials ul li{
	padding: 0 22px;
}
.ftr-socials ul li:first-child{
	padding-left: 0;
}
.ftr-socials ul li:last-child{
	padding-right: 0;
}
.ftr-socials ul li a i,
.ftr-socials ul li a{
	display: inline-block;
}
.ftr-socials ul li a i svg{
	max-width: 50px;
	height: auto;
}
.ftr-socials ul li a:hover i svg{
	opacity: 0.7;
}
/*.ftr-socials ul li a:hover i svg{
	fill: #A2222F;
}*/
.ftr-top-cntlr{
	padding-bottom: 60px;
	border-bottom: 1px solid #333333;
}
.ftr-mdl-cntlr{
	padding-top: 55px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 85px;
	border-bottom: 1px solid #333333;;
}
.ftr-logo{
	margin-bottom: 20px;
}
.ftr-logo-module-cntlr{
	width: 40%;
}
.ftr-logo-module{
	max-width: 314px;
	width: 100%;
}
.ftr-logo-module p{
	margin-bottom: 0;
	color: #fff;
}
.ftr-logo a{
	display: inline-block;
}
.ftr-menu-cntlr{
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	padding-top: 12px;
}
.ftr-menu-cntlr{
	width: 60%;
}
.ftr-menu-col{
	width: 100%;
	padding-right: 10px;
}
.ftr-menu-col-01{
	max-width: 25.74%;
}
.ftr-menu-col-02{
	max-width:  19.76%;
}
.ftr-menu-col-03{
	max-width:  18.60%;
}
.ftr-menu-col-04{
	max-width: 19.767%;
}
.ftr-menu-col-05{
	max-width:  16.11%;
}
.ftr-menu-title{
	display: inline-block;
	font-weight: 600;
	font-size: 19px!important;
	line-height: 1;
	color: #FFFFFF;
	margin-bottom: 40px;
	color: #fff;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
}
.ftr-menu{

}
.ftr-menu ul{

}
.ftr-menu ul li{
	line-height: 1;
	margin-bottom: 35px;
}

.ftr-menu ul li a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	line-height: 1.2;
}
.ftr-menu ul li:last-child{
	margin-bottom: 0;
}
.ftr-menu ul li a:hover{
	opacity: .8;
}
.ftr-btm-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 40px;
}
.ftr-btm-menu{

}
.ftr-btm-menu ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.ftr-btm-menu ul li{
	padding: 0 14px;
	line-height: 1;
}
.ftr-btm-menu ul li:first-child{
	padding-left: 0;
}
.ftr-btm-menu ul li:last-child{
	padding-right: 0;
}
.ftr-btm-menu ul li a{
	display: inline-block;
	text-decoration: none;
	line-height: 1;
	font-size: 15px;
	color: #FFFFFF;
}
.ftr-btm-menu ul li a:hover{
	opacity: .8;
}
.ftr-copyright{
	margin-left: auto;
}
.ftr-copyright p{
	margin-bottom: 0;
	display: inline-block;
	text-decoration: none;
	line-height: 1;
	font-size: 15px;
	color: #FFFFFF;
}


/*responsive*/
@media(max-width: 1399px){

}
@media(max-width: 1199px){
	.ftr-search-cntlr form input{
		padding: 17px 142px 17px 15px;
	}
	.ftr-socials ul{
		justify-content: flex-end;
	}
	.ftr-socials ul li{
		padding-left: 15px;
		padding-right: 15px;
	}
	.ftr-search-cntlr form button{
		font-size: 16px;
		padding: 16px 32px;
	}
	.ftr-socials ul li{

	}
	.ftr-socials ul li a i svg{
		max-width: 45px;
	}
	.ftr-logo-module-cntlr {
		width: 32%;
	}
	.ftr-menu-cntlr{
		width: 68%;
	}
	.ftr-logo-module{
		max-width: 236px;;
	}
	.ftr-menu ul li{
		margin-bottom: 30px;
	}
	.ftr-menu ul li a{
		font-size: 13px;
	}
}
@media(max-width: 991px){
	.footer-inr{
		display: flex;
		flex-wrap: wrap;
	}

	.ftr-top-cntlr{
		padding-bottom: 45px;
		width: 100%;
		order: 2;
		padding-top: 45px;
	}
	.ftr-mdl-cntlr{
		order: 1;
		width: 100%;
	}
	.ftr-btm-cntlr{
		width: 100%;
		order: 3;
	}
	.ftr-search-module{
		max-width: 550px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.ftr-logo-module-cntlr{
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.ftr-mdl-cntlr{
		padding-top: 0;
		padding-bottom: 15px;
	}
	.ftr-logo-module{
		width: 100%;
		max-width: 550px;
		margin: 0 auto;
	}
	.ftr-menu-cntlr{
		width: 100%;
	}
	.ftr-menu-col{
		max-width: 100%;
		padding-right: 0;
		text-align: center;
	}
	.ftr-menu ul li a{
		font-size: 16px;
	}
	.ftr-menu{
		padding-bottom: 35px;
		display: none;
	}
	.ftr-menu ul li {
		margin-bottom: 20px;
	}
	.ftr-menu-title{
		font-size: 20px!important;
		margin-bottom: 35px;
		position: relative;
	}
	.ftr-menu-title:after{
		content: "\f107";
		position: absolute;
		right: -20px;
		color: #fff;
		font-size: 18px;
		top: 2px;
		font-family: 'Font Awesome\ 5 Free';
		font-style: normal;
		font-weight: 600;
		text-decoration: inherit;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	.ftr-menu-title.active:after{
		transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
	}
	.ftr-socials-cntlr{
		margin-left: initial;
		padding-top: 30px;
		width: 100%;
	}
	.ftr-socials-title{
		margin-bottom: 25px;
		text-align: center;
	}
	.ftr-socials ul{
		justify-content: center;
	}
	.ftr-btm-cntlr{
		padding: 35px 0;
	}
	.ftr-btm-menu{
		width: 100%;
		margin-bottom: 20px;
	}
	.ftr-btm-menu ul{
		justify-content: center;
	}
	.ftr-copyright{
		margin-left: initial;
		text-align: center;
		width: 100%;
	}
	.ftr-copyright p{
		text-align: center;
		font-size: 16px;
	}
	.ftr-btm-menu ul li a{
		font-size: 16px;
	}
	.ftr-socials ul li a i svg {
		max-width: 40px;
	}
	.ftr-search-cntlr{
		width: 100%;
	}
}
@media(max-width: 575px){
	.ftr-search-cntlr form button {
		font-size: 16px;
		padding: 12px 14px;
	}
	.ftr-search-cntlr form input{
		font-size: 14px;
		padding: 15px 105px 14px 15px;
	}
}

@media(max-width: 479px){
	.ftr-search-cntlr form button {
	    font-size: 14px;
	    padding: 13px 9px;
	}
	.ftr-search-cntlr form input{
		padding-right: 83px;
	}
}
