.innerpage-con-wrap{
	padding-top: 42px;
	padding-bottom: 175px;
}
.innerpage-con-inner{
	display: flex;
	flex-wrap: wrap;
}
.innerpage-con-lft{
	width: 44%;
	padding-right: 42px;
}
.innerpage-con-rgt{
	width: 56%;
}
.innerpage-feature-img img{
	width: 100%;
}
.innerpage-feature-img{
	margin-bottom: 31px;
	overflow: hidden;
	border-radius: 10px;
}
.innerpage-lft-des-cntlr{
	padding: 16px 30px 47px 22px;
	background: #F7F7F7;
	border-radius: 5.59606px;
}
.innerpage-lft-des-title{
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	padding-bottom: 18px;
	margin-bottom: 18px;
	border-bottom: 1px solid #EAEAEA;
	font-family: 'Poppins', sans-serif;
}
.innerpage-lft-des-sub-title{
	font-weight: 500;
	display: block;
	margin-bottom: 18px;
	opacity: 0.6;
}
.innerpage-lft-des p{
	font-size: 17px;
	margin-bottom: 28px;
	opacity: 0.6;
}
.innerpage-lft-des{
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 28px;
}
.fs-iac-title{
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 18px;
	font-family: 'Poppins', sans-serif;
}
.innerpage-about-collection ul li{
	display: flex;
	align-items: center;
	margin: 0 -12px;
	padding-bottom: 40px;	
}
.innerpage-about-collection ul li:last-child{
	padding-bottom: 0;
}
.innerpage-about-collection ul li span,
.innerpage-about-collection ul li strong{
	width: 50%;
	font-weight: 500;
	opacity: 0.6;
	padding: 0 12px;
}
.innerpage-about-collection ul li span{
	text-align: right;
}
.innerpage-about-collection ul li:first-child span{
	color: #A2222F;
	opacity: 1;
}
.innerpage-lft-des-detail-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 40px;
}
.innerpage-lft-des-detail-row:last-child{
	padding-bottom: 0;
}
.innerpage-lft-des-detail-row span{
	font-weight: 500;
	opacity: 0.6;
}
.innerpage-lft-des-detail-row span.fix-value{
	color: #A2222F;
	opacity: 1;
}

.fs-accordion {
    margin-bottom: 36px;
}
.fs-accordion-title{
	font-size: 20px;
	line-height: 1.5;
	font-weight: 600;
	margin-bottom: 0;
	text-transform: initial;
	padding: 16px 45px 16px 22px;
	cursor: pointer;
	position: relative;
	background: #F7F7F7;
	border-radius: 5.59606px;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.fs-accordion-title:hover{
	color: #1693c9;
}
.fs-accordion-title:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 28px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-image: url('../images/down-arrow.svg');
	background-repeat: no-repeat;
	width: 18px;
	height: 9px;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.fs-accordion-title.active:after{
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	margin-top: -4px;
}
.fs-accordion-title.active{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.fs-accordion-des{
	display: none;
	border-bottom-left-radius: 5.59606px;
	border-bottom-right-radius: 5.59606px;
	overflow: hidden;
}
.fs-accordion-des-inr{
	background: #fbfbfb;
	border: 0.799438px solid #F1F1F1;
	border-radius: 0px 0px 5.59606px 5.59606px;
	padding: 23px 25px 38px 25px;
}
.fs-accordion-select-cntlr {
    padding-bottom: 38px;
    display: flex;
}
.fs-accordion-graps img{
	width: 100%;
}
.fs-accordion-select-cntlr span.select2.select2-container.select2-container--default{
	width: 200px!important;
	margin-left: auto;
}
.fs-accordion-select-cntlr .select2-container--default .select2-selection--single,
.fs-accordion-select-cntlr .select2-container--default .select2-selection--single .select2-selection__rendered{
	background: transparent;
}
.fs-accordion-des p{
	font-size: 15px;
}
.table-dsc table{
	margin: 0;
	border: 0.799438px solid #F1F1F1;
}
.table-dsc table thead tr{
	background: #FFFFFF;
	opacity: 0.6;
}
.table-dsc table thead tr th{
	padding: 11px 22px;
	color: #000000;
	opacity: 0.6;
	font-size: 14px;
	line-height: 1.5;
	background: #FFFFFF;
	opacity: 0.6;
	border: none;
	vertical-align: middle;
}
.table-dsc table tbody tr td span {
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    color: #000000;
	opacity: 0.6;
}
.table-dsc table tbody tr td {
	padding: 0;
	padding-left: 22px;
	padding-right: 22px;
	border: none;
	vertical-align: middle;
}
.table-dsc table tbody tr{
	background: #F7F7F7;
}
.table-dsc table tbody tr:first-child td span{
	padding-top: 30px;
}
.table-dsc table tbody tr:last-child td span{
	padding-bottom: 26px;
}
.table-dsc table tbody tr td:last-child,
.table-dsc table tbody tr td:last-child span{
	color: #A2222F;
	opacity: 1;
}

.fs-is-sub-title{
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 2px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.fs-is-title{
	line-height: 1.2;
	margin-bottom: 20px;
}
.innerpage-summary-own strong{
	color: #A2222F;
	font-weight: 600;
}
.innerpage-summary {
    display: flex;
    padding-bottom: 36px;
}
.innerpage-summary-con{
	padding-right: 20px;
}
.fs-clickable-btns{
	margin-left: auto;
}
.fs-clickable-btns-inr {
    display: flex;
    align-items: center;
    border: 0.753846px solid #A8A8A8;
    border-radius: 4px;
}
.setting-btn > a,
.share-btn > a{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 13px;
	height: 49px;
	width: 55px;
	position: relative;
}
.setting-btn > a:hover svg,
.share-btn > a:hover svg{
	fill: #A2222F;
}
.share-btn {
    border-right: 0.753846px solid #A8A8A8;
    position: relative;
}
.innerpage-summary-offer-cntlr {
    padding: 16px 22px 30px 22px;
    background: #F7F7F7;
    border-radius: 5.59606px;
    margin-bottom: 36px;
}
.innerpage-summary-offer-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	padding-bottom: 16px;
	margin-bottom: 16px;
	font-family: 'Poppins', sans-serif;
	border-bottom: 1px solid #EDEDED;
	margin-left: -22px;
	margin-right: -22px;
	padding-left: 22px;
	padding-right: 22px;
}
.innerpage-summary-cntlr{
	overflow: hidden;
}
.innerpage-summary-offer-sub-title{
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	color: #000000;
	opacity: 0.4;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 16px;

}
.innerpage-summary-offer-price{
	padding-left: 47px;
	margin-bottom: 30px;
	position: relative;
}
.innerpage-summary-offer-price i{
	position: absolute;
	left: 0;
	top: 50%;    
	display: inline-block;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);

}
.innerpage-summary-offer-price strong{
	font-size: 32px;
	font-weight: 700;
	line-height: 1.5;
}
.innerpage-summary-offer-price span{
	color: #B0B0B0;
}
.innerpage-summary-offer-btn a.fs-btn{
	flex-basis: 380px;
}
.share-socials {
    background: #F0F0F0;    
    padding: 12px;
    padding-top: 20px;
    position: absolute;
    top: 100%;
    display: none;
    left: -230%;
    border-radius: 6px;
    margin-top: 14px;
}
.setting-btn:after,
.share-btn:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 14px solid #F0F0F0;
    width: 10px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    opacity: 0;
}
.setting-btn.active:after,
.share-btn.active:after{
	opacity: 1;
}

.share-socials ul{
	display: flex;
	align-items: center;
}
.share-socials ul li{
	padding: 0 15px;
}
.share-socials ul li a{
	font-size: 23px;
	color: #000;
	line-height: 1;
	-webkit-transition: all 0.3s; 
	-ms-transition: all 0.3s; 
	transition: all 0.3s; 
}
.share-socials ul li a i{
	display: inline-block;
	vertical-align: baseline;
	-webkit-transition: all 0.1s; 
	-ms-transition: all 0.1s; 
	transition: all 0.1s; 
}
.share-socials ul li a:hover{
	color: #A2222F;
}

.setting-btn {
    position: relative;
}
.setting-option {
    background: #F0F0F0;    
    padding: 12px;
    padding-top: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    border-radius: 6px;
    width: 115px;
    margin-top: 14px;
}
.setting-option ul li {
	padding: 8px 10px;
}
.setting-option ul li a{
	text-decoration: none;
	font-weight: 700;
	color: #000;
	text-transform: capitalize;
}
.setting-option ul li a:hover{
	color: #A2222F;
}




@media(max-width: 1199px){
	.innerpage-con-lft{
		width: 40%;
		padding-right: 30px;
	}
	.innerpage-con-rgt{
		width: 60%;
	}
	.innerpage-con-wrap{
		padding-bottom: 140px;
	}
}
@media(max-width: 991px){
	.innerpage-con-lft{
		width: 100%;
		padding-right: 0;
		order: 2;
	}
	.innerpage-con-rgt{
		width: 100%;
		order: 1;
	}
	.innerpage-con-wrap {
		padding-bottom: 100px;
	}
	.fs-accordion-select-cntlr span.select2.select2-container.select2-container--default{
		width: 300px!important;		
	}
}
@media(max-width: 767px){
	.table-dsc {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}
	.table-dsc table {
		width: 700px;
		margin-bottom: 20px;
	}
	.table-dsc::-webkit-scrollbar {
		height: 6px;
	}
	.table-dsc::-webkit-scrollbar-thumb {
		background: #F5F9F6;
		border-radius: 4px;
	}
	.innerpage-summary-offer-price{
		margin-bottom: 20px;
	}
	.fs-accordion {
		margin-bottom: 25px;
	}
	.fs-iac-title,
	.innerpage-lft-des-title,
	.fs-accordion-title,
	.innerpage-summary-offer-sub-title,
	.innerpage-summary-offer-title{
		font-size: 18px;
	}
	.innerpage-lft-des-title{
		padding-bottom: 16px;
		margin-bottom: 16px;
	}
	.innerpage-about-collection ul li{
		padding-bottom: 30px;
	}
	.innerpage-con-wrap {
		padding-bottom: 80px;
	}
	.innerpage-lft-des-cntlr{
		padding: 16px 20px 47px 20px;
	}
	.innerpage-summary-offer-cntlr{
		padding: 16px 20px 30px 20px;
	}
	.innerpage-summary{
		padding-bottom: 28px;
	}
	.fs-is-title{
		margin-bottom: 18px;
	}
	.setting-btn > a, .share-btn > a{
		padding: 5px 7px;
		height: 40px;
		width: 40px;
	}
	.share-btn > a i svg.share-icon {
		width: 20px;
		height: auto;
	}
	.setting-btn > a i svg.setting-icon{
		height: 22px;
		width: auto;
	}
	.share-socials ul li a {
		font-size: 20px;
	}
	.share-socials {
		padding-top: 15px;
		left: -212%;
	}
	.share-socials ul li {
		padding: 5px 10px;
	}
	
	.innerpage-summary-offer-price strong{
		font-size: 28px;
	}
	.innerpage-summary-offer-price{
		padding-left: 35px;
	}
	.innerpage-summary-offer-price i img{
		max-width: 25px;
	}
	.fs-is-title{
		font-size: 24px!important;
	}
	.fs-accordion-select-cntlr span.select2.select2-container.select2-container--default{
		width: 100%!important;		
	}
	.setting-option ul li {
		padding: 8px 8px;
	}
}
@media(max-width: 575px){
	.innerpage-con-wrap {
		padding-bottom: 60px;
	}
}