/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1.2;	
	margin-top: 0;
	margin-bottom: 20px;
	font-family: 'MicroExtendFLF-Bold';
}
h1,.fl-h1{
	font-size: 43px;
}
h2,.fl-h2{
	font-size: 35px;
}
h3,.fl-h3{
	font-size: 30px;
}
h4,.fl-h4{
	font-size: 25px;
}
h5,.fl-h5{
	font-size: 23px;
}
h6,.fl-h6{
	font-size: 21px;
}

.logged-page h1, 
.logged-page h2, 
.logged-page h3, 
.logged-page h4, 
.logged-page h5, 
.logged-page h6{
	line-height: 1.2;	
	margin-top: 0;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.logged-page h1,.logged-page .fl-h1{
	font-size: 46px;
}
.logged-page h2,.logged-page .fl-h2{
	font-size: 38px;
}
.logged-page h3,.logged-page .fl-h3{
	font-size: 34px;
}
.logged-page h4,.logged-page .fl-h4{
	font-size: 29px;
}
.logged-page h5,.logged-page .fl-h5{
	font-size: 23px;
}
.logged-page h6,.logged-page .fl-h6{
	font-size: 18px;
}
