<footer class="footer-wrp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-inr">
            <div class="ftr-top-cntlr">
              <div class="ftr-search-module">
                <h3 class="ftr-search-title fl-h4">Stay Connected</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="ftr-search-cntlr">
                  <form action="#">
                    <input type="email" placeholder="Your Email Address" name="email">
                    <button type="submit">Sign up</button>
                  </form>
                </div>
              </div>
              <div class="ftr-socials-cntlr">
                <h3 class="fl-h4 ftr-socials-title">Join fanta sea community</h3>
                <div class="ftr-socials">
                  <ul class="reset-list">
                    <li>
                      <a target="_blank" href="#">
                        <i>
                          <svg class="facebook-icon" width="55" height="55" viewBox="0 0 55 55" fill="#fff">
                            <use xlink:href="#facebook-icon"></use> 
                          </svg>
                        </i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="#">
                        <i>
                          <svg class="linkedin-icon" width="55" height="55" viewBox="0 0 55 55" fill="#fff">
                            <use xlink:href="#linkedin-icon"></use> 
                          </svg>
                        </i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="#">
                        <i>
                          <svg class="instagram-icon" width="55" height="55" viewBox="0 0 55 55" fill="#fff">
                            <use xlink:href="#instagram-icon"></use> 
                          </svg>
                        </i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="#">
                        <i>
                          <svg class="flicker-icon" width="51" height="55" viewBox="0 0 51 55" fill="#fff">
                            <use xlink:href="#flicker-icon"></use> 
                          </svg>
                        </i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="ftr-mdl-cntlr">
              <div class="ftr-logo-module-cntlr">
                <div class="ftr-logo-module">
                  <div class="ftr-logo">
                    <a href="#">
                      <img src="assets/ftr-logo.png" alt="">
                    </a>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod convallis hac orci nunc purus malesuada id interdum.</p>
                </div>
              </div>
              <div class="ftr-menu-cntlr">
                <div class="ftr-menu-col ftr-menu-col-01">
                  <h6 class="fl-h6 ftr-menu-title">Home</h6>
                  <div class="ftr-menu">
                    <ul class="reset-list">
                      <li><a href="#">Trending NFTs</a></li>
                      <li><a href="#">New NFT from top 
                      Creator</a></li>
                      <li><a href="#">Popular Categories</a></li>
                    </ul>
                  </div>
                </div>
                <div class="ftr-menu-col ftr-menu-col-02">
                  <h6 class="fl-h6 ftr-menu-title">Search</h6>
                  <div class="ftr-menu">
                    <ul class="reset-list">
                      <li><a href="#">NFT Names</a></li>
                      <li><a href="#">Categories</a></li>
                      <li><a href="#">Creators</a></li>
                    </ul>
                  </div>
                </div>
                <div class="ftr-menu-col ftr-menu-col-03">
                  <h6 class="fl-h6 ftr-menu-title">Profile</h6>
                  <div class="ftr-menu">
                    <ul class="reset-list">
                      <li><a href="#">Wallet</a></li>
                      <li><a href="#">Held NFTs</a></li>
                    </ul>
                  </div>
                </div>
                <div class="ftr-menu-col ftr-menu-col-04">
                  <h6 class="fl-h6 ftr-menu-title">Create</h6>
                  <div class="ftr-menu">
                    <ul class="reset-list">
                      <li><a href="#">Minitng NFT</a></li>
                      <li><a href="#">All NFTs</a></li>
                      <li><a href="#">All NFTs</a></li>
                    </ul>
                  </div>
                </div>
                <div class="ftr-menu-col ftr-menu-col-05">
                  <h6 class="fl-h6 ftr-menu-title">More</h6>
                  <div class="ftr-menu">
                    <ul class="reset-list">
                      <li><a href="#">FAQs</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Privacy & TOS</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="ftr-btm-cntlr">
              <div class="ftr-btm-menu">
                <ul class="reset-list">
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms of Service</a></li>
                </ul>
              </div>
              <div class="ftr-copyright">
                <p>&copy; 2020 - 2022 fantasea Inc</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </footer>