%footer.logged-footer
  .footer-inr
    .ftr-top-wrap
      .container
        .row
          .col-md-12
            .ftr-top-cntlr
              .lgd-ftr-srch-module
                %h3.lgd-ftr-search-title.fl-h4 Stay Connected
                .lgd-ftr-srch-mdl-desc
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Elit, suscipit viverra lorem nibh amet justo viverra.
                .lgd-ftr-search-cntlr
                  %form{:action => "#"}
                    .ftr-search
                      %input{:name => "email", :placeholder => "Your Email Address", :type => "email"}/
                    %button{:type => "submit"} Sign up
              .ftr-socials-cntlr
                %h3.fl-h4.lgd-ftr-socials-title Join Our Community
                .ftr-socials
                  %ul.reset-list
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i
                          %svg.facebook-icon{:fill => "#fff", :height => "55", :viewbox => "0 0 55 55", :width => "55"}
                            %use{"xlink:href" => "#facebook-icon"}
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i
                          %svg.linkedin-icon{:fill => "#fff", :height => "55", :viewbox => "0 0 55 55", :width => "55"}
                            %use{"xlink:href" => "#linkedin-icon"}
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i
                          %svg.instagram-icon{:fill => "#fff", :height => "55", :viewbox => "0 0 55 55", :width => "55"}
                            %use{"xlink:href" => "#instagram-icon"}
                    %li
                      %a{:href => "#", :target => "_blank"}
                        %i
                          %svg.flicker-icon{:fill => "#fff", :height => "55", :viewbox => "0 0 51 55", :width => "51"}
                            %use{"xlink:href" => "#flicker-icon"}
    .ftr-btm-wrap
      .container
        .row
          .col-md-12
            .ftr-btm-cntlr
              .ftr-logo-module-cntlr
                .ftr-logo-module
                  .ftr-logo
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/logged-ftr-logo.svg"}/
                  %p
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Euismod convallis hac orci nunc
                    purus malesuada id interdum.
              .ftr-menu-cntlr
                .ftr-menu-col.ftr-menu-col-01
                  %h6.fl-h6.ftr-menu-title Home
                  .ftr-menu
                    %ul.reset-list
                      %li
                        %a{:href => "#"} Trending NFTs
                      %li
                        %a{:href => "#"} New NFT from top Creator
                      %li
                        %a{:href => "#"} Popular Categories
                .ftr-menu-col.ftr-menu-col-02
                  %h6.fl-h6.ftr-menu-title Search
                  .ftr-menu
                    %ul.reset-list
                      %li
                        %a{:href => "#"} NFT Names
                      %li
                        %a{:href => "#"} Categories
                      %li
                        %a{:href => "#"} Creators
                .ftr-menu-col.ftr-menu-col-03
                  %h6.fl-h6.ftr-menu-title Profile
                  .ftr-menu
                    %ul.reset-list
                      %li
                        %a{:href => "#"} Wallet
                      %li
                        %a{:href => "#"} Held NFTs
                .ftr-menu-col.ftr-menu-col-04
                  %h6.fl-h6.ftr-menu-title Create
                  .ftr-menu
                    %ul.reset-list
                      %li
                        %a{:href => "#"} Minitng NFT
                .ftr-menu-col.ftr-menu-col-05
                  %h6.fl-h6.ftr-menu-title More
                  .ftr-menu
                    %ul.reset-list
                      %li
                        %a{:href => "#"} FAQs
                      %li
                        %a{:href => "#"} Contact
                      %li
                        %a{:href => "#"} Privacy &amp; TOS
