<header class="header">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="header-inr clearfix">
        <div class="hdr-lft">
          <div class="logo">
            <a href="/"><img src="/assets/logo.png"></a>
          </div>
        </div>
        <div class="hdr-menu hide-sm">
          <nav class="main-nav">
            <ul class="clearfix reset-list">
              <li class="current-menu-item"><a href="#">Exlplore</a></li>
              <li class="menu-item-has-children">
                <a href="#">Stats</a>
                <ul class="sub-menu">
                  <li><a href="#">submenu 1</a></li>
                  <li><a href="#">submenu 2</a></li>
                  <li><a href="#">submenu 3</a></li>
                </ul>
              </li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Create</a></li>
            </ul>
          </nav>
        </div>
        <div class="hdr-rgt-cntlr">
          <div class="hdr-rgt">
            <div class="hdr-rgt-col hdr-search-cntlr">
              <div class="hdr-search">
                <span class="hdr-search-icon">
                  <i>
                    <img src="/assets/search-icon.svg" alt="">
                  </i>
                </span>
              </div>
            </div>
            <div class="hdr-rgt-col hdr-user">
              <div class="hdr-user-icon">
                <a href="#">
                  <i>
                    <img src="/assets/user-icon.svg" alt="">
                  </i>
                </a>
              </div>
            </div>
            <div class="hdr-rgt-col hdr-wallet">
              <div class="hdr-wallet-icon">
                <a href="#">
                  <i>
                    <img src="/assets/wallet-icon.svg" alt="">
                  </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="hamburger-cntlr show-sm">
          <div class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>