<header class="logged-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="logged-header-inr clearfix">
            <div class="lgd-hdr-lft">
              <div class="lgd-hdr-logo">
                <a href="#"><img src="/assets/logged-logo.svg"></a>
              </div>
            </div>
            
            <div class="lgd-hdr-rgt-cntlr">
              <div class="lgd-hdr-srch-cntlr hide-md">
                <div class="lgd-hdr-srch">
                  <form action="#">
                    <input type="email" placeholder="Search item, collections adn accounts" name="email">
                    <button type="submit">
                      <i>
                        <img src="/assets/search-hdr-rch-icon.svg" alt="">
                      </i>
                    </button>
                  </form>
                  <div class="lgd-hdr-srch-result">
                    <label for="">NFTS</label>
                    <ul class="reset-list">
                      <li><a href="#">Asian</a></li>
                      <li>Asian #12</li>
                      <li>Asian #15</li>
                    </ul>
                    <label for="">Categories</label>
                    <ul class="reset-list">
                      <li>Asian</li>
                      <li>Asian</li>
                    </ul>
                    <label for="">Creators</label>
                    <ul class="reset-list">
                      <li>Asianpro</li>
                    </ul>
                    <span>Press Enter to search all items</span>
                  </div>
                </div>
              </div>
              <div class="lgd-hdr-menu hide-md">
                <nav class="main-nav">
                  <ul class="clearfix reset-list">
                    <li class="current-menu-item"><a href="#">Exlplore</a></li>
                    <li class="menu-item-has-children">
                      <a href="#">More</a>
                      <ul class="sub-menu">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Privacy &amp; TOS</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Create</a></li>
                  </ul>
                </nav>
              </div>

              <div class="lgd-hdr-pro">
                <a href="#">
                  <img src="/assets/logged-profile.png" alt="">
                </a>
              </div>

              <div class="hamburger-cntlr show-md">
                <div class="hamburger-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>