<div class="bdoverlay"></div>
  <div class="xs-mobile-menu">
    <div class="xs-pop-up-menu-inr">
      <div class="xs-pop-up-menu-top">
        <div class="logo">
          <a href="#"><img src="assets/logo.png"></a>
        </div>
        <div class="hamburger-cntlr">
          <div class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="xs-pop-menu-con">
        <div class="xs-menu">
          <nav class="main-nav">
            <ul class="clearfix reset-list">
              <li class="current-menu-item"><a href="#">Exlplore</a></li>
              <li class="menu-item-has-children">
                <a href="#">Stats</a>
                <ul class="sub-menu">
                  <li><a href="#">submenu 1</a></li>
                  <li><a href="#">submenu 2</a></li>
                  <li><a href="#">submenu 3</a></li>
                </ul>
              </li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Create</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="xs-pop-menu-btm">

      </div>
    </div>
  </div>
<!-- end of header -->

<section class="hm-intro-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hm-intro-sec-inr">
          <div class="hm-intro-des-col">
            <div class="hm-intro-des-cntlr">
              <h1 class="fl-h1 hm-intro-des-title">
                Discover, collect, and sell extraordinary<br><strong>NFTs</strong>
              </h1>
              <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable<br>
              unit of a  blockchain</p>
              <div class="hm-des-btn-cntlr">
                <div class="fs-btn-cntlr"><a class="fs-btn" href="#">Explore</a></div>
                <div class="fs-btn-cntlr"><a class="fs-trns-btn" href="#">Create</a></div>
              </div>
            </div>
          </div>
          <div class="hm-intro-fea-img-col">
            <div class="hm-intro-fea-img-col-inr">
              <div class="hm-intro-fea-slider-items hmIntroFeaSlider">
                <div class="hm-intro-fea-slider-item">
                  <div class="hm-intro-fea-slider-itm-cntlr">
                    <div class="hm-intro-fea-slider-img-cntlr">
                      <div class="hm-intro-fea-slider-img inline-bg" style="background-image: url('assets/fea-slider-itm-img.jpg');"></div>
                        <div class="hm-intro-fea-slider-itm-des">
                          <div class="hm-intro-fea-slider-itm-des-icn">
                            <img src="assets/hm-intro-fea-img-des-icn.svg">
                          </div>
                          <div class="hm-intro-fea-slider-itm-ttl">
                            <h4 class="fl-h5 hm-intro-fea-slider-itm-title">XTHCHCHS1-2</h4>
                            <span class="hm-intro-fea-slider-itm-sub-title">Leadeboard 1</span>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="hm-intro-fea-slider-item">
                  <div class="hm-intro-fea-slider-itm-cntlr">
                    <div class="hm-intro-fea-slider-img-cntlr">
                      <div class="hm-intro-fea-slider-img inline-bg" style="background-image: url('assets/dfp-img-01.jpg');"></div>
                        <div class="hm-intro-fea-slider-itm-des">
                          <div class="hm-intro-fea-slider-itm-des-icn">
                            <img src="assets/hm-intro-fea-img-des-icn.svg">
                          </div>
                          <div class="hm-intro-fea-slider-itm-ttl">
                            <h4 class="fl-h5 hm-intro-fea-slider-itm-title">XTHCHCHS1-3</h4>
                            <span class="hm-intro-fea-slider-itm-sub-title">Leadeboard 1</span>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="hm-intro-fea-slider-item">
                  <div class="hm-intro-fea-slider-itm-cntlr">
                    <div class="hm-intro-fea-slider-img-cntlr">
                      <div class="hm-intro-fea-slider-img inline-bg" style="background-image: url('assets/product-img-05.jpg');"></div>
                        <div class="hm-intro-fea-slider-itm-des">
                          <div class="hm-intro-fea-slider-itm-des-icn">
                            <img src="assets/hm-intro-fea-img-des-icn.svg">
                          </div>
                          <div class="hm-intro-fea-slider-itm-ttl">
                            <h4 class="fl-h5 hm-intro-fea-slider-itm-title">XTHCHCHS1-4</h4>
                            <span class="hm-intro-fea-slider-itm-sub-title">Leadeboard 1</span>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
<section class="hot-drops-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hot-drops-sec-cntlr">
          <div class="sec-entry-hdr">
            <h2 class="fl-h5 sec-entry-hdr-title">Hot Drops</h2>
          </div>
          <div class="hot-drops-slider-grds">
            <div class="hot-drops-slider-items HotDropsSlider">
              <div class="hot-drops-slider-item-col">
                <div class="hot-drops-slider-item">
                  <div class="hot-drops-slider-itm-cntlr">
                    <div class="hot-drops-slider-itm-img-cntlr">
                      <a class="overlay-link" href="#"></a>
                      <div class="hot-drops-slider-itm-img inline-bg" style="background-image: url('assets/hot-drps-item-img1.jpg');"></div>
                      <strong class="hds-item-live">Live</strong>
                    </div>
                    <div class="hot-drops-slider-itm-des">
                      <div class="hot-drops-slider-itm-des-cntlr">
                        <h3 class="fl-h5 hdsi-title"><a class="#" href="#">michelangelo</a></h3>
                        <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable.</p>
                        <a class="fs-text-btn" href="">View</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hot-drops-slider-item-col">
                <div class="hot-drops-slider-item">
                  <div class="hot-drops-slider-itm-cntlr">
                    <div class="hot-drops-slider-itm-img-cntlr">
                      <a class="overlay-link" href="#"></a>
                      <div class="hot-drops-slider-itm-img inline-bg" style="background-image: url('assets/hot-drps-item-img2.jpg');"></div>
                      <strong class="hds-item-live">Live</strong>
                    </div>
                    <div class="hot-drops-slider-itm-des">
                      <div class="hot-drops-slider-itm-des-cntlr">
                        <h3 class="fl-h5 hdsi-title"><a class="#" href="#">michelangelo</a></h3>
                        <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable.</p>
                        <a class="fs-text-btn" href="">View</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hot-drops-slider-item-col">
                <div class="hot-drops-slider-item">
                  <div class="hot-drops-slider-itm-cntlr">
                    <div class="hot-drops-slider-itm-img-cntlr">
                      <a class="overlay-link" href="#"></a>
                      <div class="hot-drops-slider-itm-img  inline-bg" style="background-image: url('assets/hot-drps-item-img2.jpg');"></div>
                      <strong class="hds-item-live">Live</strong>
                    </div>
                    <div class="hot-drops-slider-itm-des">
                      <div class="hot-drops-slider-itm-des-cntlr">
                        <h3 class="fl-h5 hdsi-title"><a class="#" href="#">michelangelo</a></h3>
                        <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable.</p>
                        <a class="fs-text-btn" href="">View</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hot-drops-slider-item-col">
                <div class="hot-drops-slider-item">
                  <div class="hot-drops-slider-itm-cntlr">
                    <div class="hot-drops-slider-itm-img-cntlr">
                      <a class="overlay-link" href="#"></a>
                      <div class="hot-drops-slider-itm-img  inline-bg" style="background-image: url('assets/hot-drps-item-img1.jpg');"></div>
                      <strong class="hds-item-live">Live</strong>
                    </div>
                    <div class="hot-drops-slider-itm-des">
                      <div class="hot-drops-slider-itm-des-cntlr">
                        <h3 class="fl-h5 hdsi-title"><a class="#" href="#">michelangelo</a></h3>
                        <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable.</p>
                        <a class="fs-text-btn" href="">View</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hot-drops-slider-item-col">
                <div class="hot-drops-slider-item">
                  <div class="hot-drops-slider-itm-cntlr">
                    <div class="hot-drops-slider-itm-img-cntlr">
                      <a class="overlay-link" href="#"></a>
                      <div class="hot-drops-slider-itm-img  inline-bg" style="background-image: url('assets/hot-drps-item-img2.jpg');"></div>
                      <strong class="hds-item-live">Live</strong>
                    </div>
                    <div class="hot-drops-slider-itm-des">
                      <div class="hot-drops-slider-itm-des-cntlr">
                        <h3 class="fl-h5 hdsi-title"><a class="#" href="#">michelangelo</a></h3>
                        <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable.</p>
                        <a class="fs-text-btn" href="#">View</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hot-drops-slider-item-col">
                <div class="hot-drops-slider-item">
                  <div class="hot-drops-slider-itm-cntlr">
                    <div class="hot-drops-slider-itm-img-cntlr">
                      <a class="overlay-link" href="#"></a>
                      <div class="hot-drops-slider-itm-img inline-bg" style="background-image: url('assets/hot-drps-item-img3.jpg');"></div>
                      <strong class="hds-item-live">Live</strong>
                    </div>
                    <div class="hot-drops-slider-itm-des">
                      <div class="hot-drops-slider-itm-des-cntlr">
                        <h3 class="fl-h5 hdsi-title"><a class="#" href="#">michelangelo</a></h3>
                        <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable.</p>
                        <a class="fs-text-btn" href="">View</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="progressbar">
              <span class="slider__label"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="trending-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="trending-sec-cntlr">
          <div class="sec-entry-hdr">
            <div class="sec-entry-hdr-cntlr">
              <h2 class="fl-h5 sec-entry-hdr-title">Trending NFTs</h2>
              <div class="fs-select-cntlr">
                <div class="fs-select-inr fs-select-down-icon">
                 <select class="select-2-cntlr">
                  <option selected>7 days</option>
                  <option value="1">10 days</option>
                  <option value="1">24 days</option>
                 </select>
                </div>
              </div>
            </div>
          </div>
          <div class="trending-rows-cntlr">
            <ul class="reset-list">
              <li>
                <div class="trending-row-item-col">
                  <div class="trending-row-item">
                    <div class="trending-row-item-cntlr">
                      <div class="trending-row-item-lft-col">
                        <div class="trending-row-item-col-inr">
                          <div class="trending-row-item-serial-number">
                            <span>01</span>
                          </div>
                          <div class="trending-row-item-des-lft">
                            <div class="trending-row-item-des-icn">
                              <img src="assets/trending-row-item-des-img1.svg">
                            </div>
                            <div class="trending-row-item-des-ttl">
                              <strong>Cryptopunks</strong>
                              <span>level 1</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending-row-item-rgt-col">
                        <div class="trending-row-item-rgt-col-inr">
                          <div class="trending-row-item-des-rgt">
                            <strong>6546.07</strong>
                            <span>+ 4.45%<i class="fa fa-sort-up"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="trending-row-item-col">
                  <div class="trending-row-item">
                    <div class="trending-row-item-cntlr">
                      <div class="trending-row-item-lft-col">
                        <div class="trending-row-item-col-inr">
                          <div class="trending-row-item-serial-number">
                            <span>02</span>
                          </div>
                          <div class="trending-row-item-des-lft">
                            <div class="trending-row-item-des-icn">
                              <img src="assets/trending-row-item-des-img2.svg">
                            </div>
                            <div class="trending-row-item-des-ttl">
                              <strong>Sneaky</strong>
                              <span>level 1</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending-row-item-rgt-col">
                        <div class="trending-row-item-rgt-col-inr">
                          <div class="trending-row-item-des-rgt">
                            <strong>6546.07</strong>
                            <span>+ 4.45%<i class="fa fa-sort-up"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="trending-row-item-col">
                  <div class="trending-row-item">
                    <div class="trending-row-item-cntlr">
                      <div class="trending-row-item-lft-col">
                        <div class="trending-row-item-col-inr">
                          <div class="trending-row-item-serial-number">
                            <span>03</span>
                          </div>
                          <div class="trending-row-item-des-lft">
                            <div class="trending-row-item-des-icn">
                              <img src="assets/trending-row-item-des-img3.svg">
                            </div>
                            <div class="trending-row-item-des-ttl">
                              <strong>Syndicate</strong>
                              <span>level 1</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending-row-item-rgt-col">
                        <div class="trending-row-item-rgt-col-inr">
                          <div class="trending-row-item-des-rgt">
                            <strong>6546.07</strong>
                            <span>+ 4.45%<i class="fa fa-sort-up"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="trending-row-item-col">
                  <div class="trending-row-item">
                    <div class="trending-row-item-cntlr">
                      <div class="trending-row-item-lft-col">
                        <div class="trending-row-item-col-inr">
                          <div class="trending-row-item-serial-number">
                            <span>04</span>
                          </div>
                          <div class="trending-row-item-des-lft">
                            <div class="trending-row-item-des-icn">
                              <img src="assets/trending-row-item-des-img4.svg">
                            </div>
                            <div class="trending-row-item-des-ttl">
                              <strong>Cryptopunks</strong>
                              <span>level 2</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending-row-item-rgt-col">
                        <div class="trending-row-item-rgt-col-inr">
                          <div class="trending-row-item-des-rgt">
                            <strong>6546.07</strong>
                            <span>+ 4.45%<i class="fa fa-sort-up"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="trending-row-item-col">
                  <div class="trending-row-item">
                    <div class="trending-row-item-cntlr">
                      <div class="trending-row-item-lft-col">
                        <div class="trending-row-item-col-inr">
                          <div class="trending-row-item-serial-number">
                            <span>05</span>
                          </div>
                          <div class="trending-row-item-des-lft">
                            <div class="trending-row-item-des-icn">
                              <img src="assets/trending-row-item-des-img5.svg">
                            </div>
                            <div class="trending-row-item-des-ttl">
                              <strong>The Sevens</strong>
                              <span>level 3</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending-row-item-rgt-col">
                        <div class="trending-row-item-rgt-col-inr">
                          <div class="trending-row-item-des-rgt">
                            <strong>6546.07</strong>
                            <span>+ 4.45%<i class="fa fa-sort-up"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="reset-list">
              <li>
                <div class="trending-row-item-col">
                  <div class="trending-row-item">
                    <div class="trending-row-item-cntlr">
                      <div class="trending-row-item-lft-col">
                        <div class="trending-row-item-col-inr">
                          <div class="trending-row-item-serial-number">
                            <span>06</span>
                          </div>
                          <div class="trending-row-item-des-lft">
                            <div class="trending-row-item-des-icn">
                              <img src="assets/trending-row-item-des-img1.svg">
                            </div>
                            <div class="trending-row-item-des-ttl">
                              <strong>Cryptopunks</strong>
                              <span>level 1</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending-row-item-rgt-col">
                        <div class="trending-row-item-rgt-col-inr">
                          <div class="trending-row-item-des-rgt">
                            <strong>6546.07</strong>
                            <span>+ 4.45%<i class="fa fa-sort-up"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="trending-row-item-col">
                  <div class="trending-row-item">
                    <div class="trending-row-item-cntlr">
                      <div class="trending-row-item-lft-col">
                        <div class="trending-row-item-col-inr">
                          <div class="trending-row-item-serial-number">
                            <span>07</span>
                          </div>
                          <div class="trending-row-item-des-lft">
                            <div class="trending-row-item-des-icn">
                              <img src="assets/trending-row-item-des-img2.svg">
                            </div>
                            <div class="trending-row-item-des-ttl">
                              <strong>Sneaky</strong>
                              <span>level 1</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending-row-item-rgt-col">
                        <div class="trending-row-item-rgt-col-inr">
                          <div class="trending-row-item-des-rgt">
                            <strong>6546.07</strong>
                            <span>+ 4.45%<i class="fa fa-sort-up"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="trending-row-item-col">
                  <div class="trending-row-item">
                    <div class="trending-row-item-cntlr">
                      <div class="trending-row-item-lft-col">
                        <div class="trending-row-item-col-inr">
                          <div class="trending-row-item-serial-number">
                            <span>08</span>
                          </div>
                          <div class="trending-row-item-des-lft">
                            <div class="trending-row-item-des-icn">
                              <img src="assets/trending-row-item-des-img3.svg">
                            </div>
                            <div class="trending-row-item-des-ttl">
                              <strong>Syndicate</strong>
                              <span>level 1</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending-row-item-rgt-col">
                        <div class="trending-row-item-rgt-col-inr">
                          <div class="trending-row-item-des-rgt">
                            <strong>6546.07</strong>
                            <span>+ 4.45%<i class="fa fa-sort-up"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="trending-row-item-col">
                  <div class="trending-row-item">
                    <div class="trending-row-item-cntlr">
                      <div class="trending-row-item-lft-col">
                        <div class="trending-row-item-col-inr">
                          <div class="trending-row-item-serial-number">
                            <span>09</span>
                          </div>
                          <div class="trending-row-item-des-lft">
                            <div class="trending-row-item-des-icn">
                              <img src="assets/trending-row-item-des-img4.svg">
                            </div>
                            <div class="trending-row-item-des-ttl">
                              <strong>Cryptopunks</strong>
                              <span>level 2</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending-row-item-rgt-col">
                        <div class="trending-row-item-rgt-col-inr">
                          <div class="trending-row-item-des-rgt">
                            <strong>6546.07</strong>
                            <span>+ 4.45%<i class="fa fa-sort-up"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="trending-row-item-col">
                  <div class="trending-row-item">
                    <div class="trending-row-item-cntlr">
                      <div class="trending-row-item-lft-col">
                        <div class="trending-row-item-col-inr">
                          <div class="trending-row-item-serial-number">
                            <span>10</span>
                          </div>
                          <div class="trending-row-item-des-lft">
                            <div class="trending-row-item-des-icn">
                              <img src="assets/trending-row-item-des-img5.svg">
                            </div>
                            <div class="trending-row-item-des-ttl">
                              <strong>The Sevens</strong>
                              <span>level 3</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="trending-row-item-rgt-col">
                        <div class="trending-row-item-rgt-col-inr">
                          <div class="trending-row-item-des-rgt">
                            <strong>6546.07</strong>
                            <span>+ 4.45%<i class="fa fa-sort-up"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fs-service-sec" style="background-image:url('assets/service-bg-img.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="fs-service-sec-cntlr">
            <div class="sec-entry-hdr">
              <h3 class="fl-h5 sec-entry-hdr-title text-center">Create and sell your NFTs</h3>
            </div>
           <div class="fs-service-grd">
             <ul class="reset-list">
               <li>
                 <div class="fs-service-grds-item-col">
                   <div class="fs-service-grd-item">
                     <div class="fs-service-grd-icon">
                       <img src="assets/service-empty-wallet.svg">
                     </div>
                     <div class="fs-service-grd-title">
                       <h4 class="fl-h5">Set up your wallet</h4>
                     </div>
                     <div class="fs-service-grd-des">
                       <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable. A Non-fungible token (NFT) is a unique and Non- Interchangeable.A Non-fungible token (NFT) is a unique and Non- Interchangeable.</p>
                     </div>
                   </div>
                 </div>
               </li>
               <li>
                 <div class="fs-service-grds-item-col">
                   <div class="fs-service-grd-item">
                     <div class="fs-service-grd-icon">
                       <img src="assets/wallet-02.svg">
                     </div>
                     <div class="fs-service-grd-title">
                       <h4 class="fl-h5">Set up your wallet</h4>
                     </div>
                     <div class="fs-service-grd-des">
                       <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable. A Non-fungible token (NFT) is a unique and Non- Interchangeable.A Non-fungible token (NFT) is a unique and Non- Interchangeable.</p>
                     </div>
                   </div>
                 </div>
               </li>
               <li>
                 <div class="fs-service-grds-item-col">
                   <div class="fs-service-grd-item">
                     <div class="fs-service-grd-icon">
                       <img src="assets/service-gallery-tick.svg">
                     </div>
                     <div class="fs-service-grd-title">
                       <h4 class="fl-h5">Set up your wallet</h4>
                     </div>
                     <div class="fs-service-grd-des">
                       <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable. A Non-fungible token (NFT) is a unique and Non- Interchangeable.A Non-fungible token (NFT) is a unique and Non- Interchangeable.</p>
                     </div>
                   </div>
                 </div>
               </li>
               <li>
                 <div class="fs-service-grds-item-col">
                   <div class="fs-service-grd-item">
                     <div class="fs-service-grd-icon">
                       <img src="assets/shopping-bag.svg">
                     </div>
                     <div class="fs-service-grd-title">
                       <h4 class="fl-h5">Set up your wallet</h4>
                     </div>
                     <div class="fs-service-grd-des">
                       <p>A Non-fungible token (NFT) is a unique and Non- Interchangeable. A Non-fungible token (NFT) is a unique and Non- Interchangeable.A Non-fungible token (NFT) is a unique and Non- Interchangeable.</p>
                     </div>
                   </div>
                 </div>
               </li>
           </ul>
           </div>
           <div class="service-sec-lft-icon">
             <img src="assets/srvc-lft-icon.svg">
           </div>
           <div class="service-sec-rgt-icon">
             <img src="assets/srvc-rgt-icon.svg">
           </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fs-category-sec">
  <div class="container">
    <div class="row"> 
      <div class="col-md-12"> 
        <div class="fs-category-sec-cntlr"> 
          <div class="sec-entry-hdr">
              <h3 class="fl-h5 sec-entry-hdr-title">Browse by category</h3>
            </div>
          <div class="fs-cat-grds">
            <ul class="reset-list"> 
              <li>
                <div class="fs-cat-grd-item-col">
                  <div class="fs-cat-grd-item">
                    <div class="fs-cat-img-cntlr">
                      <a href="#" class="overlay-link"></a>
                      <div class="fs-cat-grd-bg-img inline-bg" style="background-image:url('assets/cat-grd-item-img-01.jpg')"></div>
                    </div>
                    <div class="fs-cat-grd-title"> 
                      <a href="#"><h4 class="fl-h5 srv-grid-title">Petitie</h4></a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="fs-cat-grd-item-col">
                  <div class="fs-cat-grd-item">
                    <div class="fs-cat-img-cntlr">
                      <a href="#" class="overlay-link"></a>
                      <div class="fs-cat-grd-bg-img inline-bg" style="background-image:url('assets/cat-grd-item-img-02.jpg')"></div>
                    </div>
                    <div class="fs-cat-grd-title"> 
                      <a href="#"><h4 class="fl-h5 srv-grid-title">Petitie</h4></a>
                    </div>
                  </div>  
                </div>
              </li>
              <li>
                <div class="fs-cat-grd-item-col">
                  <div class="fs-cat-grd-item">
                    <div class="fs-cat-img-cntlr">
                      <a href="#" class="overlay-link"></a>
                      <div class="fs-cat-grd-bg-img inline-bg" style="background-image:url('assets/cat-grd-item-img-03.jpg')"></div>
                    </div>
                    <div class="fs-cat-grd-title"> 
                      <a href="#"><h4 class="fl-h5 srv-grid-title">Petitie</h4></a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="fs-cat-grd-item-col">
                  <div class="fs-cat-grd-item">
                    <div class="fs-cat-img-cntlr">
                      <a href="#" class="overlay-link"></a>
                      <div class="fs-cat-grd-bg-img inline-bg" style="background-image:url('assets/cat-grd-item-img-04.jpg')"></div>
                    </div>
                    <div class="fs-cat-grd-title"> 
                      <a href="#"><h4 class="fl-h5 srv-grid-title">Petitie</h4></a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="fs-cat-grd-item-col">
                  <div class="fs-cat-grd-item">
                    <div class="fs-cat-img-cntlr"> 
                      <a href="#" class="overlay-link"></a>
                      <div class="fs-cat-grd-bg-img inline-bg" style="background-image:url('assets/cat-grd-item-img-05.jpg')"></div>
                    </div>
                    <div class="fs-cat-grd-title"> 
                      <a href="#"><h4 class="fl-h5 srv-grid-title">Petitie</h4></a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="fs-cat-grd-item-col">
                  <div class="fs-cat-grd-item">
                    <div class="fs-cat-img-cntlr">
                      <a href="#" class="overlay-link"></a>
                      <div class="fs-cat-grd-bg-img inline-bg" style="background-image:url('assets/cat-grd-item-img-06.jpg')"></div>
                    </div>
                    <div class="fs-cat-grd-title"> 
                      <a href="#"><h4 class="fl-h5 srv-grid-title">Petitie</h4></a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>